* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    color: inherit;
  }
  
  @font-face {
    font-family: NeueBold;
    src: url(../fonts/NeueMachina-Ultrabold.otf);
  }
  
  @font-face {
    font-family: NeueSemi;
    src: url(../fonts/PPNeueMachina-InktrapSemibold.ttf);
  }

  @font-face {
    font-family: NeueRegular;
    src: url(../fonts/NeueMachina-Regular.otf);
  }

  @font-face {
    font-family: TTMedium;
    src: url(../fonts/TTHoves-Medium.ttf);
  }

  @font-face {
    font-family: TTRegular;
    src: url(../fonts/TTHoves-Regular.ttf);
  }

  @font-face {
    font-family: NeueSemiBold;
    src: url(../fonts/NeueMachina-Ultrabold.otf);
  }

  input, select, button, textarea {
    outline: none;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }

  body::-webkit-scrollbar-thumb{
    background-color: #C3E754;
}
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  